{% extends "reservas/base.html" %}

{% block content %}
<h2 class="mb-4">Reservar Habitación {{ habitacion.numero }}</h2>

<div class="card mb-4">
  <div class="card-body">
    <p><strong>Categoría:</strong> {{ habitacion.get_categoria_display }}</p>
    <p><strong>Precio por noche:</strong> ${{ habitacion.precio_diario }}</p>
    <p><strong>Equipamiento:</strong> {{ habitacion.equipamiento }}</p>
  </div>
</div>

<form method="post" class="needs-validation" novalidate>
  {% csrf_token %}
  
  <div class="mb-3">
    <label for="id_fecha_inicio" class="form-label">Fecha de inicio</label>
      {{ form.fecha_inicio }}
  </div>
  
  <div class="mb-3">
    <label for="id_fecha_fin" class="form-label">Fecha de fin</label>
    {{ form.fecha_fin }}
  </div>



  <button type="submit" class="btn btn-success">Confirmar Reserva</button>
  <a href="{% url 'ver_habitaciones' %}" class="btn btn-secondary">Volver al catálogo</a>
</form>

{% endblock %}
