
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Servicio hotelero</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>Habitaciones Standard Espaciosas</h2>
        <p>Disfruta de confort y amplitud en nuestras habitaciones estándar, perfectas para tu descanso.</p>
        <a href="{% url 'ver_habitaciones' %}" class="icon-link btn btn-primary">
          Ir
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Habitaciones Premium Grandes</h2>
        <p>Vive una experiencia única en nuestras habitaciones premium, amplias y equipadas para tu máxima comodidad.</p>
        <a href="{% url 'ver_habitaciones' %}" class="icon-link btn btn-primary">
          Ir
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>Reserva con Nuestra App</h2>
        <p>Reserva de manera fácil y rápida desde nuestra app, ¡tu habitación está a solo un clic de distancia!</p>
        <a href="{% url 'ver_habitaciones' %}" class="icon-link btn btn-primary">
          Ir
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>